## Análises de Dados | E-commerce

- Programação SQL
- Detalhamento dos cenários para resolução de problemas
- Pensamento lógico para questões diretivas

In [1]:
from sqlalchemy import create_engine
import pandas as pd
import os

In [2]:
engine = create_engine("sqlite:///ecommerce.db", echo=False)
connection = engine.raw_connection()
# Realiza a leitura de todos os arquivos csv e insere no banco de dados
for file in os.listdir():
     if file.endswith(".csv"):
            df = pd.read_csv(f"{file}", encoding='latin-1')
            table_name = file.split(".")[0]
            df.to_sql(table_name, connection, if_exists="replace", index=False)
connection.close()

C:\Users\Rozana\AppData\Local\Temp\ipykernel_2080\3794801435.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql(table_name, connection, if_exists="replace", index=False)
C:\Users\Rozana\AppData\Local\Temp\ipykernel_2080\3794801435.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql(table_name, connection, if_exists="replace", index=False)
C:\Users\Rozana\AppData\Local\Temp\ipykernel_2080\3794801435.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql(table_name, connection, if_exists="replace", index=False)
C:\Users\Rozana\AppData\Local\Temp\ipykernel_2080\3794801435.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql(table_name, connection, if_exists="replace", index=False)
C:\Users\Rozana\AppData\Local\Temp\ipykernel_2080\3794801435.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql(table_name, connection, if_exists="replace", index=False)
C:\Users\Rozana\AppData\Local\Temp\ipykernel_2080\3794801435.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql(table_name, connection, if_exists="replace", index=False)

In [4]:
engine = create_engine("sqlite:///ecommerce.db", echo=False)
connection = engine.connect()

_____

Trans_table

In [5]:
trans = pd.read_sql_query("SELECT * FROM Trans_dim", connection)
trans.head()

  payment_key trans_type                         bank_name
0        P001       cash                              None
1        P002       card                   AB Bank Limited
2        P003       card  Bangladesh Commerce Bank Limited
3        P004       card                 Bank Asia Limited
4        P005       card                 BRAC Bank Limited

In [6]:
trans.payment_key.unique()

array(['P001', 'P002', 'P003', 'P004', 'P005', 'P006', 'P007', 'P008',
       'P009', 'P010', 'P011', 'P012', 'P013', 'P014', 'P015', 'P016',
       'P017', 'P018', 'P019', 'P020', 'P021', 'P022', 'P023', 'P024',
       'P025', 'P026', 'P027', 'P028', 'P029', 'P030', 'P031', 'P032',
       'P033', 'P034', 'P035', 'P036', 'P037', 'P038', 'P039'],
      dtype=object)

In [12]:
trans.payment_key.count()

39

In [7]:
trans.trans_type.unique()

array(['cash', 'card', 'mobile'], dtype=object)

In [8]:
trans.bank_name.unique()

array([None, 'AB Bank Limited', 'Bangladesh Commerce Bank Limited',
       'Bank Asia Limited', 'BRAC Bank Limited', 'Citizens Bank Limited',
       'City Bank Limited', 'Community Bank Bangladesh Limited',
       'Dhaka Bank Limited', 'Dutch-Bangla Bank Limited',
       'Eastern Bank Limited', 'IFIC Bank Limited', 'Jamuna Bank Limited',
       'Meghna Bank Limited', 'Mercantile Bank Limited',
       'Midland Bank Limited', 'Modhumoti Bank Limited',
       'Mutual Trust Bank Limited', 'National Bank Limited',
       'National Credit & Commerce Bank Limited', 'NRB Bank Limited',
       'NRB Commercial Bank Ltd', 'NRB Global Bank Ltd',
       'One Bank Limited', 'Padma Bank Limited', 'Premier Bank Limited',
       'Prime Bank Limited', 'Pubali Bank Limited',
       'Standard Bank Limited', 'Shimanto Bank Ltd',
       'Southeast Bank Limited',
       'South Bangla Agriculture and Commerce Bank Limited',
       'Trust Bank Limited', 'United Commercial Bank Ltd',
       'Uttara Bank Limited', 'Bengal Commercial Bank Ltd', 'Bkash',
       'Rocket', 'Nagad'], dtype=object)

In [11]:
trans.bank_name.count()

38

In [13]:
trans.isnull().sum()

payment_key    0
trans_type     0
bank_name      1
dtype: int64

In [17]:
# Retornar as linhas com valores nulos
linhas_com_nulos_trans = trans[trans.isnull().any(axis=1)]
print(linhas_com_nulos_trans)

  payment_key trans_type bank_name
0        P001       cash      None

In [18]:
# Substituir os valores nulos por 'Banco não informado'
trans.fillna('Banco não informado', inplace=True)

correção: Preenchimento valor nulo!!

________

Item_table

In [36]:
item = pd.read_sql_query("SELECT * FROM item_dim", connection)
item.head()

,item_key,item_name,desc,unit_price,man_country,supplier,unit
0,I00001,A&W Root Beer - 12 oz cans,a. Beverage - Soda,11.50,Netherlands,Bolsius Boxmeer,cans
1,I00002,A&W Root Beer Diet - 12 oz cans,a. Beverage - Soda,6.75,poland,CHROMADURLIN S.A.S,cans
2,I00003,Barq's Root Beer - 12 oz cans,a. Beverage - Soda,6.75,Bangladesh,DENIMACH LTD,cans
3,I00004,Cherry Coke 12oz,a. Beverage - Soda,6.75,Netherlands,Bolsius Boxmeer,cans
4,I00005,Cherry Coke Zero 12 pack,a. Beverage - Soda,6.75,Finland,HARDFORD AB,cans

In [37]:
# Colocar a coluna item_name, man_country e supplier com primeira letra maiúscula
item['item_name'] = item['item_name'].str.upper()
item['man_country'] = item['man_country'].str.capitalize()
item['supplier'] = item['supplier'].str.capitalize()

In [38]:
# letra minúscula
item['unit'] = item['unit'].str.lower()

In [39]:
item.head()

,item_key,item_name,desc,unit_price,man_country,supplier,unit
0,I00001,A&W ROOT BEER - 12 OZ CANS,a. Beverage - Soda,11.50,Netherlands,Bolsius boxmeer,cans
1,I00002,A&W ROOT BEER DIET - 12 OZ CANS,a. Beverage - Soda,6.75,Poland,Chromadurlin s.a.s,cans
2,I00003,BARQ'S ROOT BEER - 12 OZ CANS,a. Beverage - Soda,6.75,Bangladesh,Denimach ltd,cans
3,I00004,CHERRY COKE 12OZ,a. Beverage - Soda,6.75,Netherlands,Bolsius boxmeer,cans
4,I00005,CHERRY COKE ZERO 12 PACK,a. Beverage - Soda,6.75,Finland,Hardford ab,cans

In [40]:
item.isnull().sum()

item_key       0
item_name      0
desc           0
unit_price     0
man_country    0
supplier       0
unit           1
dtype: int64

In [41]:
# Retornar as linhas com valores nulos
linhas_com_nulos_item = item[item.isnull().any(axis=1)]
print(linhas_com_nulos_item)

    item_key                   item_name          desc  unit_price  \
157   I00158  FRITO BOLD FLAVORS VARIETY  Food - Chips        17.0

    man_country  supplier  unit
157   Lithuania  Bigso ab  None

In [42]:
item.fillna('bags', inplace=True)

Substituir para gramas

In [43]:
item.item_key.count()

264

In [44]:
item.item_name.count()

264

In [45]:
item.dtypes

item_key        object
item_name       object
desc            object
unit_price     float64
man_country     object
supplier        object
unit            object
dtype: object